body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navigation-bar {
  width: 100%;
  height: 80px;
  background: rgb(126, 34, 126);
  display: inline-block;
}
.company-name {
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}
.navigation-bar ul {
  float: right;
  margin-right: 20px;
}
.navigation-bar ul li {
  display: inline-block;
  list-style: none;
  line-height: 80px;
  margin: 0 25px;
  color: white;
  font-size: 16px;
}
#checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/*BANNER ONE STYLING */
.banner-design {
  display: flex;
  flex-wrap: wrap;
}
.banner-design-content {
  flex: 50%;
  padding: 60px 0 0 100px;
  font-weight: bold;
  height: 400px;
}
.info {
  font-size: 40px;
  padding-bottom: 30px;
}
.create-acc {
  background: rgb(126, 34, 126);
  color: white;
  cursor: pointer;
  text-decoration: none; 
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
.info2 {
  padding-bottom: 90px;
}

.banner-design-content-two {
  flex: 50%;
  height: 400px;
}
.imge {
  width: 100%;
  height: 400px;
}

/*BANNER TWO STYLING */
.banner2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}
.background-img-container {
  background-image: linear-gradient(rgb(228, 199, 199, 0.5), rgb(126, 34, 126)),
    url(./Images/amanda-sandlin-jIdKrtJF8Uk-unsplash.jpg);
  background-size: cover;
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner2-firstContent {
  /* margin: 90px 0 50px 90px; */
  color: white;
}
.banner2-firstContent h2 {
  font-size: 30px;
}
.banner2-firstContent h4 {
  padding-top: 20px;
  font-size: 16px;
  font-weight: normal;
}
.banner2-secondContent {
  margin-top: 2rem;
}
.banner2-secondContent {
  font-size: 14px;
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  margin-left: 70px;
  cursor: pointer;
  color: rgb(82, 15, 82);
}
.banner2{
  font-weight: bold;
  text-decoration: none;
}

/* Ride Component */
.ride-backround-img,
.login-bckgrnd-img {
  background: url(./Images/gettyimages-1006620918-2048x2048.jpg);
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}
.ride-form, .login-form {
  min-width: 350px;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.heading{
  text-align: center;
  color: purple;
}
.name, .email, .password{
  font-size: 1.1rem;
  margin-top: 3%;
}
.form-wrapper{
  margin-top: 7%;
}
.input{
  min-width: 100%;
  border-bottom: 2px solid purple;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 5px;
}
.submit{
  display: flex;
  margin: auto;
  cursor: pointer;
  background-color: purple;
  color: white;
  margin-top: 4%;
  padding: 3%;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}
.form-dir{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  text-decoration: none;
  color: black;
}
.span{
  font-weight: bold;
  cursor: pointer;
  color: purple;
}
.error{
  color: red;
  font-size: 1rem;
}
/* LOGIN Component */
.login-form {
  min-width: 30%;
  min-height: 25%;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
}
/* driver signup */
.drive {
  background: url(./Images/lukasz-niescioruk-Jy88u4IpIas-unsplash.jpg);
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.navbar {
  background-color: rgb(82, 15, 82);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navc {
  color: white;
  padding-left: 20px;
  font-size: 2em;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: rgb(82, 15, 82);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: rgb(82, 15, 82);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

/*Home component */
.home-holder {
  background-color: rgb(243, 230, 230);
  height: 100%;
}

.wrapper {
  display: flex;
  /* flex-flow: row; */
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.wrapper-one {
  width: 350px;
  background-color: white;
  height: 200px;
  margin: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.wrap-one-dsgn {
  color: rgb(82, 15, 82);
  font-size: 4rem;
}
.wrapper-two {
  width: 350px;
  background-color: white;
  height: 200px;
  margin: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.wrapper-three {
  width: 350px;
  background-color: white;
  height: 200px;
  margin: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.graph-container {
  width: 80%;
  margin: 0 auto;
  display: block;
}
.graph {
  max-width: 100%;
  height: auto;
}

/* Map component style*/
.map-wrap {
  background-color: rgb(243, 230, 230);
  min-width: 100vw;
  min-height: calc(100vh - 80px);
}

.flex-container-parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.flex-container-info {
  max-height: 100%;
  /* min-width: 300px; */
  background-color: white;
  padding: 10px;
  margin: 20px;
  min-height: 410px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  justify-content: center;
}
.button {
  background-color: rgb(82, 15, 82);
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  top: 15px;
}
.flex-c-img {
  width: 350px;
  height: 200px;
}

.make-order-btn {
  display: flex;
  margin: 10px;
}
.mob-c {
  background-color: white;
  outline: none;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
.cartoon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


/*Drivers Dashboard Folder*/
/*DashbHome Component*/

.home-child {
  width: 280px;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 10px;
  background-color: white;
  padding: 15px;
}
.idk {
  display: flex;
  justify-content: space-between;
}
.dashboard-background{
  background-color: rgb(243, 230, 230);
}
.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard-form{
  width: 70%;
}
.offers-render{
  width: 25%;
  min-height: 5rem;
  border: 1px solid black;
}
.db-input{
  width: 100%;
  height: 30px;
}
.db-btn{
  background-color: purple;
  color: white;
  height: 30px;
  cursor: pointer
}
.flex-container{
  display: flex;
  /* justify-content: space-evenly; */
  border: 1px solid black;
  width: 30%;
  min-height: 20%;
  /* flex-direction: column; */
}

.my-offers{
  width: 40%;
  border: 1px solid black;
  min-height: 40px;
  padding: 2rem;
}
.home-container {
  background-color: rgb(243, 230, 230);
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hc-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(243, 230, 230);
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: ; */
  /* margin-right: 10px; */
}
.hc-icon i {
  font-size: 24px;
  color: rgb(82, 15, 82);
}
.hc-member {
  display: flex;
  flex-direction: column;
}
.hc-bottom {
  display: flex;
}
.hc-bottom i,
p {
  color: rgb(82, 15, 82);
}
.hc-bottom span {
  color: black;
  font-size: 14px;
}
.hc-banner2 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(243, 230, 230);
  width: 100%;
  justify-content: space-evenly;
}
.bigger-hc {
  width: 520px;
  height: 355px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

/* .hc-graph {
  width: 500px;
  height: 315px;
} */
.bhc-img{
  max-width: 100%;
  height: 320px;
}
.logout{
  background-color: none;
  color: rgb(82, 15, 82);
  width: 70%;
  height: 5%;
  margin: 10%;
}

/* Ride history component */
.td{
  border: 1px solid #dddddd;
  padding: 15px;
}
.th{
  background-color: #dddddd;
  padding: 15px;
}
.table{
  margin: auto;
  width: 90%;
  border-collapse: collapse;
  
}

/*User Profile*/
.header-user-p {
  background-color: rgb(82, 15, 82);
  padding: 20px;
  color: white;
}
.banner-up {
  width: 486px;
  border: 3px solid rgb(82, 15, 82);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  height: 320px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
}
.banner-up p {
  color: black;
}
.banner-up button {
  padding: 10px;
  margin: 5px;
}
.color-red,
.color-grn {
  background-color: red;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}
.color-grn {
  background-color: green;
}
.btn-offer{
  width: 50%;
  height: 2rem;
  /* margin-left: 0.5rem ; */
}
/* .hr{
  outline: 1px solid black;
} */

/* .container-img-div {
  display: flex;
  justify-content: center;
} */
.img-div {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  /* margin: 5px; */
  vertical-align: middle;
}


/*Feedback Component*/
.wrap-all{
  background-image: url(./Images/james-dibo-A2wEx8pb3yQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  filter: blur(5px);
  /* max-width: 100%; */
  background-position: center;
  
}



/*Media Querry*/
@media only screen and (max-width: 600px) {
  #checkbtn {
    display: block;
    padding-right: 10px;
  }
  .navigation-list {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navigation-bar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    color: rgb(82, 15, 82);
    font-size: 30px;
    list-style: none;
  }
  #check:checked ~ ul {
    left: 0px;
  }
  .company-name {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 0 0 0 20px;
    line-height: 80px;
  }
  .banner-design-content {
    flex: 100%;
    padding: 40px 0 0 20px;
    font-weight: bold;
    height: 400px;
  }
  .ride-backround-img {
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 640px; */
  }
  .ride-form {
    width: 50%;
    /* height: 450px; */
    /* position: absolute; */
    /* top: 50%; */
    left: 50%;
    /* background-color: rgb(82, 15, 82); */
    /* border-radius: 10px; */
  }
  .ride-form-info input {
    /* width: 250px; */
  }
  .make-reserve {
    width: 247px;
    left: 28px;
    top: 360px;
  }
  .account {
    margin-top: -370px;
    font-size: 12px;
    color: white;
  }
  .login-bckgrnd-img {
    height: 800px;
  }
  .login-form {
    /* width: 300px; */
    /* height: 250px; */
    position: absolute;
    top: 50%;
    left: 50%;
  }
  /* .login-form input,
  .login-form button,
  .logs {
    margin-left: 8px;
    margin-top: 15px;
  } */
  .login,
  .login-form input {
    /* width: 90%; */
    /* margin-left: 25px; */
  }
  .flex-container-info {
    flex-basis: 70%;
  }
  .make-order {
    width: 280px;
    height: 200px;
  }
  .make-order > h3 {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .flex-container-info {
    width: 70%;
    padding: 5px;
    margin: 20px;
    height: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    justify-content: center;
  }
  .flex-c-img {
    width: 220px;
    height: 120px;
  }
}
@media (max-width: 1200px) {
  .steering-content {
    padding: 10px;
    font-size: 20px;
  }
}
@media (max-width: 960px) {
  .steering-content {
    padding: 7px;
    font-size: 14px;
  }
}
@media (max-width: 675px) {
  .steering-content {
    padding: 6px;
    font-size: 10px;
  }
}
@media (max-width: 490px) {
  .steering-content {
    padding: 5px;
    font-size: 7px;
    border: 1px solid white;
    border-radius: 5px;
  }
}
